<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <h2>Dados gerenciais do aplicativo </h2>
      </div>
      <div class="row">
          
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">
                            favorite
                        </i>
                    </div>
                    <p class="card-category">Quantidade de favoritos</p>
                    <h3 class="card-title">{{quantidadeGerencial?.QuantidadeFavoritosEmpresa}}</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats"> 
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Visitas</p>
                      <h3 class="card-title">{{quantidadeGerencial?.QuantidadeVisitasEmpresa}}
                      </h3>
                  </div>
              </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats"> 
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">work</i>
                    </div>
                    <p class="card-category">Participações</p>
                    <h3 class="card-title">{{quantidadeGerencial?.QuantidadeParticipacoes}}
                    </h3>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats"> 
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">done_all</i>
                        </div>
                        <p class="card-category">Participações validadas</p>
                        <h3 class="card-title">{{quantidadeGerencial?.QuantidadeParticipacoesValidadas}}
                        </h3>
                    </div>
                </div>
            </div>
          
      </div>
  </div>
</div>
