<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Perfil Empresa</h4>
                      <p class="card-category">Complete os dados da Empresa</p>
                  </div>
                  <div class="card-body">
                      <form #empresaForm="ngForm" (ngSubmit)="onSubmit(empresaForm)">
                          <input type="hidden" name="$Key" #$Key="ngModel" [(ngModel)]="empresaServico.empresaSelecionada.$Key">
                          <input type="hidden" name="QuantidadeFavoritos" #QuantidadeFavoritos="ngModel" [(ngModel)]="empresaServico.empresaSelecionada.QuantidadeFavoritos">
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Razão Social" #RazaoSocial="ngModel" [(ngModel)]="empresaServico.empresaSelecionada.RazaoSocial"  name="RazaoSocial" />
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Cnpj" #Cnpj="ngModel" [(ngModel)]="empresaServico.empresaSelecionada.Cnpj" name="Cnpj" />
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Cep" type="text" #Cep="ngModel" [(ngModel)]="empresaServico.empresaSelecionada.Cep" name="Cep"/>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Site" type="text" #Site="ngModel"  [(ngModel)]="empresaServico.empresaSelecionada.Site" name="Site"/>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Cidade" type="text" #Cidade="ngModel" [(ngModel)]="empresaServico.empresaSelecionada.Cidade" name="Cidade" />
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Endereço" type="text" #Endereço="ngModel" [(ngModel)]="empresaServico.empresaSelecionada.Endereco" name="Endereco" />
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Estado" type="text" #Estado="ngModel" [(ngModel)]="empresaServico.empresaSelecionada.Estado" name="Estado" />
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Telefone" type="text" #Telefone="ngModel" [(ngModel)]="empresaServico.empresaSelecionada.Telefone"  name="Telefone"/>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Celular" type="text" #Celular="ngModel" [(ngModel)]="empresaServico.empresaSelecionada.Celular" name="Celular" />
                                </mat-form-field>
                              </div>
                          </div>
                          
                          <div class="form-group">
                              <button class="btn btn-default" type="submit" [disabled]="!empresaForm.valid">
                                <i class="fa fa-floppy-o"></i>
                                 Atualizar dados</button>
                              <button class="btn btn-default" type="button" (click)="resetForm(empresaForm)">
                                <i class="fa fa-repeat"></i>
                                 Limpar</button>
                            </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
